@import url('https://fonts.googleapis.com/css?family=Lato');

$very-dark-color: #dedede;
$dark-color: #f1f1f1;
$light-color: #f9f9f9;

// For development purposes
#gant-container {
  height: 100vh;
  background-color: $very-dark-color;;

  display: flex;
  justify-content: center;
  align-items: center;
}

#gant-container {
  .background {
    fill: none;
  }

  .header {
    fill: $light-color;
  }

  .row:nth-child(odd) {
    fill: $dark-color;
  }

  .row:nth-child(even) {
    fill: $light-color; 
  }

  .vertical-border {
    fill: $very-dark-color;
  }

  .horizontal-border {
    fill: $very-dark-color; 
  }

  .header-text, .title-text {
    text-anchor: middle;
    alignment-baseline: middle;
    font-size: 14px; 
    fill: #333;
    font-family: 'Lato', serif;
  }
}
